<div class="menu">
  <button mat-flat-button color="primary" class="icon" (click)="navigateTo('account')">
    <mat-icon aria-hidden="false" aria-label="Compte">person</mat-icon>
  </button>
  <button mat-flat-button color="primary" class="icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon" >listalt</mat-icon>
  </button>
  <button mat-flat-button color="primary" class="icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon">table_chart</mat-icon>
  </button>
  <button mat-flat-button color="primary" class="icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon">perm_media</mat-icon>
  </button>
  <button mat-flat-button color="primary" class="icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon>
  </button>
</div>
