.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

::ng-deep .mat-drawer-inner-container{
  overflow: hidden !important;
}

.mat-drawer-content{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
